@font-face {
    font-family: 'rb';
    src: url(./Rubik-Bold.ttf);
}

@font-face {
    font-family: 'rm';
    src: url(./Rubik-Medium.ttf);
}

@font-face {
    font-family: 'rr';
    src: url(./Rubik-Regular.ttf);
}